*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Import fonts via Relative Paths  */
@font-face {
  font-family: "Elite";
  src: url("/fonts/SpecialElite-Regular.ttf");
}

:root {
  font-family: "Elite";
  font-size: 1em;
  /* set up colors */
  --dark-color: #25232F;
  --light-color: #6883BA;
}

html,
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAF8F6;
}

/* Any react UI element use:
 position: fixed;
 z-index: 1;

*/
#game {
  flex: 1;
}

#ui {
  position: absolute;
  width: 800px;
  height: 600px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}


.menu-container {
  --border-radius: 0.5rem;
  --gap-size: 1em;

  background-color: var(--dark-color);
  width: 400px;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-size);
  padding: 5rem 0;
  border-radius: calc(var(--border-radius)*2);
  background: url("/assets/platform.png");
  background-size: 400px auto;
  background-repeat: no-repeat;

  animation: fadeIn 0.3s ease;
  transition: opacity 0.3s ease;
}

.menu-title {
  font-size: 2em;
  font-variant: small-caps;
}

button {
  font-family: inherit;
  border: none;

  color: var(--dark-color);
  font-weight: 900;
  background-color: var(--light-color);
}

.menu-btn {
  width: 200px;
  aspect-ratio: 4 / 1;
  border-radius: var(--border-radius);

  transition: background-color 0.5s ease;
}

.menu-btn:active,
.menu-btn:hover {
  outline: currentColor solid 2px;
  background-color: var(--dark-color);
  color: currentColor;
  cursor: pointer;
}

.pause-btn {
  position: absolute;
  width: 40px;
  aspect-ratio: 1 / 1;
  top: 20px;
  right: 20px;
  border-radius: 0.5rem;
  outline-offset: -5px;
  outline: var(--dark-color) solid 2px;
  transition: background-color 0.4s ease;

}

.pause-btn:active,
.pause-btn:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
  outline-color: var(--light-color);
  cursor: pointer;
}

.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-btn {
  width: 120px;
  padding: 0.5rem;
  margin: 5px;
}

.share-input {
  font-family: "Elite";
  font-weight: 900;
  background-color: var(--light-color);
  border: none;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 8px;
  color: var(--dark-color);
}

.share-input::placeholder {
  color: var(--dark-color);
}

.leaderboard-table {
  border: 3px solid white;
  text-align: center;
  width: 275px;
  border-collapse: collapse;
}

th,
tr {
  border-bottom: 2px solid white;
  padding: 0.5rem;
  background-color: #101010;
}

td {
  padding: 0.25rem 1rem;
}

tr:nth-child(odd) {
  background-color: #4c5baf;
}

.leaderboard-table>thead {
  text-transform: capitalize;
}

.local-player {
  background-color: #4caf50 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}